.container {
  display: inline-flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;

  background-color: #f6d6d6;

  &_shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2%;
    width: 22%;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
  }

  &_prod {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px 10px 20px 20px;
    height: 500px;
  }
}

.text {
  margin-top: 10px;
  font-size: 21px;
}
